:root {
    --m: 5;
    --first-shadow-left: 0 calc(12px * var(--m)) calc(20px * var(--m)) black;
    --first-shadow-right: calc(12px * var(--m)) 0px calc(20px * var(--m)) black;
    --second-shadow-left: 0 calc(2.5px * var(--m)) calc(5px * var(--m)) black;
    --second-shadow-right: calc(2.5px * var(--m)) 0px calc(5px * var(--m)) black;
}

@media screen and (max-width:1200px) {
    :root {
        --m: 2;
    }
}

/** LAPTOP **/
.computer-container * {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.computer-container {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: dimgray; */
    /* background: linear-gradient(to right, black, #66655a, black); */
    padding-top: calc(1em * var(--m));
    /* padding-bottom: calc(3em * var(--m)); */
    height: calc(100vh - (3em * var(--m)));
}

.computer-elements {
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(11.5em * var(--m));
    height: calc(7em * var(--m));
}

.computer-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.monitor-chassis {
    border: calc(.55px * var(--m)) dimgray solid;
    border-bottom: none;
    border-top-left-radius: calc(.23em * var(--m));
    border-top-right-radius: calc(.23em * var(--m));
    /* box-shadow: 0 0 calc(40px * var(--m)) rgba(173, 216, 230, 1); */
    /* animation-name: glow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    /* transition: box-shadow 5s ease-in-out; */
}

.monitor-frame {
    background-color: black;
    background: -o-linear-gradient(45deg, black, black, rgb(100, 100, 100));
    background: linear-gradient(45deg, black, black, rgb(100, 100, 100));
    padding: calc(.25em * var(--m));
    border: calc(.75px * var(--m)) solid black;
    border-top-left-radius: calc(.2em * var(--m));
    border-top-right-radius: calc(.2em * var(--m));
}

.glass {
    background-color: lightblue;
    width: calc(8em * var(--m));
    height: calc(5em * var(--m));
}

.glass::after {
    content: "";
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    transition: all 3s ease-out;
}

.glass.frosted::after {
    backdrop-filter: blur(30px);
}

.flare-left,
.flare-right {
    opacity: 0;
    position: absolute;
    top: 49.5%;
    left: 0;
    transform: translateX(calc(-100% - (.04em * var(--m))));
    width: calc(10em * var(--m));
    height: calc(4px * var(--m));
    filter: blur(1px);
    background: radial-gradient(farthest-side at 100%, rgba(255, 255, 255, .4) 10%, transparent);
}

.flare-right {
    left: initial;
    right: 0;
    transform: translateX(calc(100% + (.04em * var(--m))));
    background: radial-gradient(farthest-side at 0%, rgba(255, 255, 255, .4), transparent);
}

.finger-notch {
    z-index: 100;
    margin: 0 auto calc(-2.4px * var(--m));
    width: calc(1.5em * var(--m));
    height: calc(.15em * var(--m));
    background-color: dimgray;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(160, 160, 160)), color-stop(50%, gray), to(dimgray));
    background: -o-linear-gradient(rgb(160, 160, 160), gray 50%, dimgray);
    background: linear-gradient(to top, rgb(170, 170, 170), gray 40%, dimgray);
    border-bottom: calc(.3px * var(--m)) solid rgb(190, 190, 190);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.keyboard-chassis {
    z-index: 99;
    margin: 0 auto;
    width: calc(11em * var(--m));
    height: calc(.3em * var(--m));
    background-color: silver;
    background: -webkit-gradient(linear, left top, right top, from(silver), color-stop(1%, #f2f2f2), color-stop(6%, rgb(129, 129, 129)), color-stop(rgb(168, 168, 168)), color-stop(96%, gray), color-stop(99%, #f2f2f2), to(silver));
    background: -o-linear-gradient(left, silver, #f2f2f2 1%, rgb(129, 129, 129) 6%, rgb(168, 168, 168), gray 96%, #f2f2f2 99%, silver);
    background: linear-gradient(to right, silver, #f2f2f2 1%, rgb(129, 129, 129) 6%, rgb(168, 168, 168), gray 96%, #f2f2f2 99%, silver);
    border-bottom: calc(.2px * var(--m)) solid rgb(175, 175, 175);
    border-radius: calc(1px * var(--m));
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.computer-bottom {
    z-index: 1;
    margin: calc(-3.7px * var(--m)) auto 0;
    width: calc(11em * var(--m));
    height: calc(.45em * var(--m));
    background-color: gray;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, silver), color-stop(90%, rgb(150, 150, 150)));
    background: -o-linear-gradient(silver 50%, rgb(150, 150, 150) 90%);
    background: linear-gradient(silver 50%, rgb(150, 150, 150) 90%);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom: calc(.2px * var(--m)) solid rgb(175, 175, 175);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 calc(10px * var(--m)) rgba(255, 255, 255, .8);
    }

    50% {
        box-shadow: 0 0 calc(10px * var(--m)) rgba(255, 255, 255, .5);
    }

    100% {
        box-shadow: 0 0 calc(10px * var(--m)) rgba(255, 255, 255, .8);
    }
}

/** DIAMONDS **/
.diamond-flare {
    position: absolute;
    z-index: 2;
}

.diamond-flare:nth-of-type(1) {
    opacity: 0;
    transform: translateX(42%);
}

.diamond-flare:nth-of-type(4) {
    opacity: 0;
    transform: translateX(-42%);
}

.diamond-flare:nth-of-type(1),
.diamond-flare:nth-of-type(4) {
    z-index: 1;
}

.diamond-flare:nth-of-type(3) {
    transform: translateX(-50vw);
}

.diamond-flare>div {
    width: calc(75px * var(--m));
    height: calc(75px * var(--m));
    background-color: oklch(37.2% 0.044 257.287);
}

.left1 {
    transform: rotate(45deg) translate(-100%, 130%);
    background-color: rgb(70, 70, 70);
    box-shadow: var(--second-shadow-left);
}

.left2 {
    transform: rotate(45deg) translate(-70%, 100%);
    background: linear-gradient(to bottom left, oklch(70.4% 0.04 256.788), oklch(55.4% 0.046 257.417), oklch(44.6% 0.043 257.281), oklch(37.2% 0.044 257.287) 90%, oklch(38.701% 0.03671 257.806) 100%);

    box-shadow: var(--first-shadow-left);
}

.right1 {
    transform: rotate(45deg) translate(100%, -70%);
    /** slate-400, slate-500, slate-600, slate-700, slate-custom **/
    background: linear-gradient(to top right, oklch(70.4% 0.04 256.788), oklch(55.4% 0.046 257.417), oklch(44.6% 0.043 257.281), oklch(37.2% 0.044 257.287) 90%, oklch(38.701% 0.03671 257.806) 100%);
    box-shadow: var(--first-shadow-right);
}

.right2 {
    transform: rotate(45deg) translate(130%, -100%);
    background-color: rgb(70, 70, 70);
    box-shadow: var(--second-shadow-right);
}

/** WALLPAPER **/
.wallpaper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wallpaper [class^='square']:nth-of-type(odd) {
    transform: translateX(-100vw);
}

.wallpaper [class^='square']:nth-of-type(even) {
    transform: translateX(-100vw);
}

.wallpaper [class^='square']>div {
    position: absolute;
    z-index: 1;
    width: calc(75px * var(--m));
    height: calc(75px * var(--m));
    background-color: dimgray;
}

.wallpaper div:nth-of-type(1) {
    margin-left: calc(-25px * var(--m));
}

.square1 {
    z-index: 1;
}

.square2 {
    z-index: 2;
}

.square3 {
    z-index: 3;
}

.square4 {
    z-index: 4;
}

.square5 {
    z-index: 5;
}

.square6 {
    z-index: 6;
}

.wallpaper div:nth-of-type(1)>div {
    transform: rotate(45deg) translate(-20%, 28%);
    background-color: #ffa64a;
    box-shadow: var(--second-shadow-left);
}

.wallpaper div:nth-of-type(2)>div {
    transform: rotate(45deg) translate(28%, -20%);
    background-color: #67a457;
    box-shadow: var(--second-shadow-right);
}

.wallpaper div:nth-of-type(3)>div {
    transform: rotate(45deg) translate(-50%, 58%);
    background-color: #e06730;
    box-shadow: var(--second-shadow-left);
}

.wallpaper div:nth-of-type(4)>div {
    transform: rotate(45deg) translate(58%, -50%);
    background-color: #549fa4;
    box-shadow: var(--second-shadow-right);
}

.wallpaper div:nth-of-type(5)>div {
    transform: rotate(45deg) translate(-80%, 88%);
    background-color: #934650;
    box-shadow: var(--second-shadow-left);
}

.wallpaper div:nth-of-type(6)>div {
    transform: rotate(45deg) translate(88%, -80%);
    background-color: #4a6e88;
    box-shadow: var(--second-shadow-right);
}